[ironic]
url=http://localhost:6385/
auth_token=' '
auth_domain=default

[stemcell]
repository_type=webdav
url=http://localhost:8080/images

[metadata]
repository_type=webdav
url=http://localhost:8080/metadata
create_files=True

[registry]
endpoint=http://localhost:8080/metadata
nameservers=8.8.8.8

