[ironic]
url=http://localhost:6385/
auth_token=' '
auth_domain=default

[stemcell]
repository_type=webdav
url=http://localhost:8080/images

[metadata]
repository_type=webdav
url=http://localhost:8080/metadata
create_files=True

[registry]
url=http://localhost:8080/registry

[agent]
mbus=nats://nats:natsp@localhost:8000
ntp=['ntp1', 'ntp2']

[blobstore]
provider=local
endpoint=http://localhost:5000
blobstore_path=/var/vcap/micro_bosh/data/cache

