[ironic]
url=http://ironic.example.org:6385/
auth_token=' '

[stemcell]
repository_type=webdav
url=http:http://localhost:8080/images
username=jose
password=riguera

[metadata]
repository_type=webdav
url=http://ironic.example.org/metadata
username=bosh
password=bosh

